<vn-css vn-id="vnappmenu" vn-css-file="menus/vnappmenu.css"></vn-css>
<div ng-controller="vnAppMenuController">
	<div class="app-menu-icon" ng-click="handleAppMenuClick( $event );">
		<img class="inps-logo" ng-if="currentappicon.indexOf( 'fa ' ) < 0" ng-src="{{ currentappicon }}">
		<div ng-if="currentappicon.indexOf( 'fa ' ) > -1" class="awesome-icon">
			<div ng-class="currentappicon" ></div>
		</div>
	</div>
	<vn-tour
		vn-item-top="3em"
		vn-item-left="0.5em"
		vn-item-height="3.5em"
		vn-item-width="10em"
		vn-arrow-top="2.3em"
		vn-arrow-left="1em"
		vn-arrow-direction="up"
		vn-text="Change current app"></vn-tour>

	<div class="app-menu menu">
		<div ng-class="currentappicon == app.icon ? 'app current': 'app'" ng-repeat="app in registeredApps"  ng-click="handleItemClick( $event, this );">
			<div class="icon">
				<img ng-if="app.icon.indexOf( 'fa ' ) < 0" ng-src="{{ app.icon }}">
				<div ng-if="app.icon.indexOf( 'fa ' ) > -1" class="awesome-icon">
					<div ng-class="app.icon" ></div>
				</div>
			</div>
			<div class="name">{{ app.name }}</div>
	    </div>
	</div>
</div>
