.vision-patient-chips-detail{
	padding: 1em;
	background-color: #FFF;
	width: 20em;
}

.vision-patient-chips-detail .title{
	color: rgb(33,150,243);
}

.vision-patient-chips-detail .patient-details{
	margin: -1em;
	margin-bottom: 2em;
	padding: 1em;
	color: #555;
	background-color: #EEE;

}

.vision-patient-chips-detail .patient-details .name{
	font-size: 1.6em;

}

.vision-patient-chips-detail .patient-details .dob{
	font-size: 1.2em;
}

