/* Calendar view */
.calendar, .slider-container{
	color: #FFFFFF;
	white-space: nowrap;
}


.calendar .date, .calendar .owner, .calendar .time {
	display: inline-block;
}

.calendar .date, .calendar .owner{
	min-width: 20em;
	vertical-align: top;
}

.calendar .date{
	text-align: center;
}

.calendar .date .date-title{
	text-align: center;
	height: 5em;
	background-color: #085394;
	padding-top: 1em;
	cursor: pointer;
	z-index: 10;
}


.calendar .timegroup .time  {
	height: 3em;
	width: 3em;
	text-align: left;
	padding-top: 1em;
	margin: 0.1em;
	border-top: solid 3px;
	vertical-align: top;
	box-shadow: 3px 3px 8px #BBBBBB;
	cursor: pointer;
}

.calendar .time .time-label {
	font-size: 0.8em;
	font-weight: lighter;
	text-align: center;
}

.calendar .time .time-label, .calendar .owner{
	color: #073763;
}

.calendar .owner .title, .calendar .time{
	background-color: #FFFFFF;
}

.calendar .owner .title, .calendar .date .date-title{
	margin: 0.1em;
}

.calendar .timegroup {
	text-align: left; 
	margin-left: 0.4em;
}

.calendar .timegroup .time.hiddenINPS {
	/*background-color: #073763;*/
	opacity: 0;
	pointer-events: none;
}

.calendar .day-label, .day-label {
	font-size: 1.5em;
}


.calendar-scroller{
	//position: relative;
}

.calendar-scroller .content{
	//position: relative;
	margin: 0 0em 0 0em;
	//white-space: nowrap;
	 width: 100%;
}

.calendar-scroller .iScrollIndicator {
	//top: 7.8em;
}

.zoom-button, .zoom-button-day{
	position: absolute;
	z-index: 10;
	height: 20px;
	width: 20px;
	font-size: 11pt;
	text-align: center;
	background-color: #BBBBBB;
	color: #FFFFFF;
	cursor: pointer;
}


.slider-container{
	width: 100%;
	height: 5em;
	background-color: #073763;
	cursor: pointer;
}

.slider{
	position: absolute;
	height: 5em;
	background-color: #FFFFFF;
	opacity: 0.2;
}

.slider-container .slider-date{
	display: inline-block;
	text-align: center;
	border-left: solid 1px green;
}

.slider-container .slider-date.highlight{
	background-color: green;
}