.tour-container{
	position: relative;
	height: 0;
	width: 0;
	opacity: 0.9;
	z-index: 3;
	
}

.tour-container.noshow{
	display: none;
}

.tour-item span{
	font-size: 0.9em;
	white-space: normal;
}

.tour-item{
	position: absolute;
	//background: #CCC;
	background-color: #FFA100;
	border-radius: 5px;
	text-align: left;
	color: #2b2b2b;
	padding: 1em;

top: 7em;
left: 1em;
height: 3.5em;
width: 14em;
}



.tour-arrow{
	position: absolute;
	width: 0; 
	height: 0; 

	top: 6.3em;
	left: 6.9em;
}

.tour-arrow.up {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFA100;
}

.tour-arrow.down {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FFA100;
}

.tour-arrow.left {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFA100;
}

.tour-arrow.right {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #FFA100;
}
}