<vn-css vn-id="vnappointments" vn-css-file="apps/components/appointments/vnappointments.css"></vn-css>
<div ng-controller="vnAppointmentsController" ng-init="init();">
    <div class="appointment list-group-item" 
    ng-repeat="appointment in appointments"  
    ng-click="handleItemClick( $event, this );"
    ng-right-click="handleRightClick( $event );">
        <div class="time">
        	<div>
                <div>{{ appointment.date | date:'HH:mm' }}</div>
                <div class="date">{{ appointment.date | date:'dd-MMM-yyyy' }}</div>
            </div>
        </div>
        
        <div class="type"><div>{{ appointment.slottype | uppercase }}</div></div>
        <div class="status" ng-click="handleStatusClick( $event, this );">
            <div><img ng-src="apps/components/images/slottypes/{{ appointment.statusimage }}"></div>
        </div>
        <div class="subject" ng-show="appointment.patient.displayname.length > 0"><div>{{appointment.patient.displayname}}</div></div>
    </div>
</div>