.vision-loader{
	width: 100%;
	height: 100%;
}

.vision-loader .loader{
	position: absolute;
	background-color: #2B2B2B;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
	vertical-align: middle;
}

.vision-loader .loader .message-container{
	font-size: 2em;
	color: #FFF;
	background-color: #000;
	height: 5em;
	width: 20em;
	opacity: 1;
	text-align: center;
	margin: 0 auto;
	margin-top: 15em;
	border-radius: 3em;
	padding-top: 1em;
}

.vision-loader .loader .message-container .message {
	margin-bottom: 0.5em;
}